body {
  height: 100vh;
  font-family: sans-serif;

  display: grid;
  grid-template: 
  "h     s" 50px 
  "h     m" 1fr
  "f     f" auto /
  auto  1fr;
}

/* HEADER___________________________________  */
header {
  grid-area: h;

  background-color: var(--spotify-side);
  padding: 30px;  
}

.nav-1 {
  padding: 20px 0;
  display: grid;
  gap: 10px;
}

.nav-2 h3, 
.nav-2 a,
.nav-2 h4 {
  padding: 10px 0;
}

.nav-2 h3 {
  font-size: 0.9rem;
}

.nav-2 a {
  color: var(--spotify-text);
  font-size: 0.9rem;
}

.bottom-part .space {
  margin-top: 40%;
  margin-bottom: 10px;
}

.bottom-part .prof-name {
  color: #fff;
  font-size: 1.1rem;
  font-weight: 600;
}


/* bar on top SECTION__________________________________________ */
.top-part {
  grid-area: s;
  background-color: var(--spotify-top);

  display: grid;
  justify-items: right;
  align-items: center;

  position: sticky;

}

.top-part button {
  margin-right: 30px;
  padding: 10px 30px;
  border-radius: 20px;
  border: 1px solid #fff;
  background-color: black;
} 

.top-part button a {
color: #fff;
}

button:hover a {
  color: var(--spotify-color-hover);
  transition: 0.8s;
}

button:hover {
  border: 1px solid var(--spotify-color-hover);
  transition: 0.8s;
}

/* MAIN_______________________________ */
main {
  grid-area: m;
  background-color: var(--spotify-back);

  overflow: scroll;
}

.main-header {
  background-color: var(--spotify-back);

  display: grid;
  place-items: center;
  height: 50px;
}

.main-header-wrapper {
  display: grid;
  
  grid-auto-flow: column;
  gap: 15px;
}

.files-wrapper {
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-auto-rows: auto;
  gap: 20px;
}

.file iframe,
.file .size-file {
  width: 200px;
  height: 200px; 
  margin-bottom: 10px;
}

.file img {
  width: 100%;
}












/* FOOTER_______________________________  */
footer {
  grid-area: f;
  background-color: var(--spotify-back);

  border-top: 1px solid var(--spotify-text);

  display: grid;
  grid-template-columns: 1fr 60px 3fr 1fr;
  align-items: center;
}

footer h3 a {
  color: var(--spotify-text);
  font-size: 0.8rem;
}

footer .wrap-song-artist:hover a {
  transition: 0.8s;
}

footer h3 a:hover {
  color: var(--spotify-text-light);
  font-size: 0.8rem;
}
.icon-small {
  align-content: center;
}

.icon-small img {
  width: 20px;
}

.icon-small .heart svg:hover {
  fill="#1DB954"
  stroke="#1DB954"  
}

.controller {
  display: grid;
  padding-left: center;
  justify-items: center;
}

.lower-line {
  display: grid;
  grid-template-columns: 40px 20px 200px 20px;
}

.lower-line .listened {
  color: var(--spotify-color);
}

/* volume slider ____in_footer____right________ */
.slider {
  -webkit-appearance: none;
  width: 150px;
  height: 5px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  /* appearance: none; */
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background:var(--spotify-color);
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  background: #4CAF50;
  cursor: pointer;
}