* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  /* BLACK LEGEND: 1darkest - 2bit lighter - 3most lighter */
--spotify-side: black;
--spotify-back: #222326;
--spotify-top: rgba(0, 0, 0, 0.74);

--spotify-button: #616467;
--spotify-text: #919496;
--spotify-text-light: aliceblue;

--spotify-color: #1DB954;
--spotify-color-hover: #1ed760;

}

/* BASE STYLING  */
h1 {
  /* font-size: 0.8rem;
  color: var(--spotify-text-grey); */
}

h2 {
  font-size: 0.9rem;
  font-weight: 600;
  color: var(--spotify-text);
}

h3 {
  color: var(--spotify-text-light);
  font-weight: 600;
}

h4 {
  font-size: 0.8rem;
  color: var(--spotify-text);
  font-weight: 600;
}

a {
  text-decoration: none;
  
}

/* img:hover .svg {
  transition: 0.3s;
  fill:#1DB954;
} */

a:hover h2,
a:hover h4 {
  color: #fff;
  transition: 0.8s;
  /* animation: alternate-reverse; */
}


/* UTILITY CLASSES */
.icon {
  width: 25px;
}

.icon2 {
  width: 25px;
}

.upp {
  text-transform: uppercase;
}

.columns {
  display: grid;
  grid-template-columns: 1fr 3fr;
  align-items: center;
  margin: 5px;
}

.border-b {
  border-bottom: 1px solid var(--spotify-text);
}