* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
--spotify-side: black;
--spotify-back: #17171f;
--spotify-top: rgba(0, 0, 0, 0.938);

--spotify-button: #616467;
--spotify-text: #919496;
--spotify-text-light: aliceblue;

--spotify-color: #1DB954;
--spotify-color-hover: #1ed760;

}

/* BASE STYLING  */
h1 {
  /* font-size: 0.8rem;
  color: var(--spotify-text-grey); */
}

h2 {
  font-size: 0.9rem;
  font-weight: 600;
  color: var(--spotify-text);
  transition: 1s;
}

h3 {
  color: var(--spotify-text-light);
  font-weight: 600;
  transition: 1s;

}

h4 {
  font-size: 0.8rem;
  color: var(--spotify-text);
  font-weight: 600;
  transition: 1s;

}

p {
  font-size: 0.8rem;
  color: var(--spotify-text);
  font-weight: 600;
}

a {
  text-decoration: none;
  transition: 1s;
}

button {
  transition: 1s;
}



/* img:hover .svg {
  transition: 0.3s;
  fill:#1DB954;
} */

a:hover h2,
a:hover h4 {
  color: #fff;
  transition: 0.8s;
  /* animation: alternate-reverse; */
}

h2.prof-name:hover {
  color: var(--spotify-color-hover);
}


/* UTILITY CLASSES */
.icon {
  width: 25px;
}

.icon2 {
  width: 25px;
}

.icon3 {
  width: 100px;
  margin-right: 10px;
}

.upp {
  text-transform: uppercase;
}

.columns {
  display: grid;
  grid-template-columns: 1fr 3fr;
  align-items: center;
  margin: 5px;
}

.border-b {
  border-bottom: 1px solid var(--spotify-text);
}


/* scollbar  */
/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #17171f; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #17171f; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #1ed760; 
}